{% extends 'Dashboard.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- Personal Info-->
        <div class="masonry-item col-md-10" style="position: absolute; left: 0%; top: 1032px;">
            <br>
            <div class="bd bgc-white" style='transform:translate(10%,0%)'>
                <div style="transform:translate(43%,50%)">
                    <h5>This systems help employers for analyzing resumes and CVs,</h5>
                    <h5>surfacing candidates that best match the position and </h5>
                    <h5>filtering out those who don't.</h5>
                    <br>
                    <h2>LET'S GET STARTED</h2>
                    <form method="post"><button type="button" class="btn cur-p btn-outline-info">FAQs</button></form>
                </div>
                <div class="" style='transform:translate(10%,-50%)'>
                    <div class="bgc-blue-700 bdrs-50p pos-r" style="width:250px;height:250px">
                        <img class="pos-a centerXY w-6r bdrs-50p" style="width:230px;height:230px"
                         src="static/images/user-pic.png"
                         alt="">
                    </div>
                </div>
            </div>
        </div>
    <!-- End of Personal Info-->


{% endblock %}