{% extends 'Dashboard.html' %}

{% block title %}LinkedIn Analyzer{% endblock %}

{% block body %}
                    <!-- Personal Info-->
                    <div class="masonry-item col-md-12" style="position: absolute; left: 0%; top: 1032px;">
                        <div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;"></div>
                        <div class="bgc-light-blue-300 c-white p-20">
                            <div class="peers ai-c jc-sb gap-40">
                                <div class="peer peer-greed"><h5>Summary</h5></div>
                            </div>
                        </div>
                        <div class="bd bgc-white" style="margin-left:10px;">
                            <div class="layers">
                                <div class="layer w-100">
                                    <div class="" style='transform:translate(50%,-60%); margin-right:100px'>
                                        <div class="bgc-white bdrs-50p pos-r" style="width:170px;height:170px">
                                            <img class="pos-a centerXY w-6r bdrs-50p" style="width:150px;height:150px"
                                             src="static/images/pro-pic.jpg"
                                             alt="">
                                        </div>
                                    </div>
                                    <div class="table-responsive p-20" style="margin:10px; transform:translate(0%,-30%)">
                                        <table class="table">
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th class="bdwT-0">Catogary</th>-->
                                                <!--<th class="bdwT-0">Items</th>-->
                                                <!--<th class="bdwT-0">Status</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <tbody>
                                            <tr>
                                                <td class="fw-600">Name</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{name}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Occupation</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{occupation}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Summary</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{summary}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Skills</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{skills}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Experience</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{experience}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Courses</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{courses}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-600">Organizations</td>
                                                <td>
                                                    <span class="fsz-sm c-grey-800">{{organizations}}</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ta-c bdT w-100 p-20"><a
                                    href="https://colorlib.com/polygon/adminator/index.html#">Check all the sales</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Personal Info-->

                    <!-- Overall Score view pane-->
                    <div class="masonry-item col-md-12" style="position: absolute; left: 50%; top: 734px;">
                        <div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;"></div>
                        <div class="bgc-light-blue-300 c-white p-20">
                            <div class="peers ai-c jc-sb gap-40">
                                <div class="peer peer-greed"><h5>Scoring</h5></div>
                            </div>
                        </div>
                        <div class="bd bgc-white p-20 bd" style="margin-left:10px;">
                            <div class="peers fxw-nw@lg+ ai-s">
                                <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-" style="width: 100%">
                                    <div class="layers">
                                        <div class="layer w-75">
                                            <div class="layers">
                                                <h3>Overall Score</h3>
                                                <br>
                                                <div class="easy-pie-chart" data-size="150" data-percent="{{score_total}}"
                                                    data-bar-color="#f44336" style="margin-right:120px;">
                                                    <span class="fsz-lg"></span>
                                                    <canvas height="120" width="120"></canvas>
                                                </div>
                                                <br>
                                                <span class="fsz-md">Section Scores</span>
                                                <div class="layer w-100 mT-15">
                                                    <medium class="fw-600 c-grey-700">Software </medium>
                                                    <span class="pull-right c-grey-600 fsz-sm">{{score_software}}%</span>
                                                    <div class="progress mT-10">
                                                        <div class="progress-bar bgc-orange-300" role="progressbar"
                                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                             style="width:{{score_software}}%"><span class="sr-only">10/10 complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layer w-100 mT-15">
                                                    <medium class="fw-600 c-grey-700">Engineering</medium>
                                                    <span class="pull-right c-grey-600 fsz-sm">{{score_engineering}}%</span>
                                                    <div class="progress mT-10">
                                                        <div class="progress-bar bgc-green-500" role="progressbar"
                                                             aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
                                                             style="width:{{score_engineering}}%"><span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layer w-100 mT-15">
                                                    <medium class="fw-600 c-grey-700">Finance</medium>
                                                    <span class="pull-right c-grey-600 fsz-sm">{{score_finance}}%</span>
                                                    <div class="progress mT-10">
                                                        <div class="progress-bar bgc-light-blue-500" role="progressbar"
                                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                             style="width:{{score_finance}}%"><span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layer w-100 mT-15">
                                                    <medium class="fw-600 c-grey-700">Management</medium>
                                                    <span class="pull-right c-grey-600 fsz-sm">{{score_management}}%</span>
                                                    <div class="progress mT-10">
                                                        <div class="progress-bar bgc-blue-grey-500" role="progressbar"
                                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                             style="width:{{score_management}}%"><span class="sr-only">90% Complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layer w-100 mT-15">
                                                    <medium class="fw-600 c-grey-700">Art</medium>
                                                    <span class="pull-right c-grey-600 fsz-sm">{{score_art}}%</span>
                                                    <div class="progress mT-10">
                                                        <div class="progress-bar bgc-red-300" role="progressbar"
                                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                             style="width:{{score_art}}%"><span class="sr-only">90% Complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Overall Score view pane-->

                    <!--&lt;!&ndash; Overall Score view pane&ndash;&gt;-->
                    <!--<div class="masonry-item col-md-12" style="position: absolute; left: 50%; top: 734px;">-->
                        <!--<div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;"></div>-->
                        <!--<div class="bgc-light-blue-300 c-white p-20">-->
                            <!--<div class="peers ai-c jc-sb gap-40">-->
                                <!--<div class="peer peer-greed"><h5>Overall Score</h5></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="bgc-white p-20 bd" style="margin-left:10px;">-->
                            <!--<div class="mT-30">-->
                                <!--<div class="peers mT-40 fxw-nw@lg+ jc-sb ta-c gap-10">-->
                                    <!--<div class="peer">-->
                                        <!--<div class="easy-pie-chart" data-size="120" data-percent="75"-->
                                             <!--data-bar-color="#f44336"><span>75%</span>-->
                                            <!--<canvas height="120" width="120"></canvas>-->
                                        <!--</div>-->
                                        <!--<h6 class="fsz-sm">{{myString}}</h6></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; End of Overall Score view pane&ndash;&gt;-->

                    <!-- Skills & Endorsements-->
                    <div class="masonry-item col-md-12" style="position: absolute; left: 0%; top: 1032px;">
                        <div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;"></div>
                        <div class="bgc-light-blue-300 c-white p-20">
                            <div class="peers ai-c jc-sb gap-40">
                                <div class="peer peer-greed"><h5>Skills & Endorsements</h5></div>
                            </div>
                        </div>
                        <div class="bd bgc-white" style="margin-left:10px;">
                            <div class="layers">
                                <div class="layer w-100">
                                    <div class="table-responsive p-20" style="margin:10px;">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="bdwT-0">Skill</th>
                                                <th class="bdwT-0">Score</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for skill in skills_endoresed %}
                                                {% for s_name,s_score in  skill %}
                                            <tr>
                                                <td class="fw-600">{{ s_name }}</td>
                                                <td><span class="fsz-sm c-grey-800">{{s_score}}</span><br></td>
                                            </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ta-c bdT w-100 p-20"><a
                                    href="https://colorlib.com/polygon/adminator/index.html#">Check all the sales</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Skills & Endorsements-->

                    <!-- Project Info-->
                    <div class="masonry-item col-md-12" style="position: absolute; left: 0%; top: 1032px;">
                        <div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;"></div>
                        <div class="bgc-light-blue-300 c-white p-20">
                            <div class="peers ai-c jc-sb gap-40">
                                <div class="peer peer-greed"><h5>Projects</h5></div>
                            </div>
                        </div>
                        <div class="bd bgc-white" style="margin-left:10px;">
                            <div class="layers">
                                <div class="layer w-100">
                                    <div class="table-responsive p-20" style="margin:10px;">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="bdwT-0">Project</th>
                                                <th class="bdwT-0">Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for project in projects %}
                                                {% for p_name,p_lines in  project %}
                                            <tr>
                                                <td class="fw-600">{{ p_name }}</td>
                                                <td>
                                                    {% for lines in  p_lines %}
                                                        <span class="fsz-sm c-grey-800">{{lines}}</span><br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ta-c bdT w-100 p-20"><a
                                    href="https://colorlib.com/polygon/adminator/index.html#">Check all the sales</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Project Info-->
{% endblock %}