{% extends 'Dashboard.html' %}

{% block title %}File Upload{% endblock %}

{% block body %}
    <!-- Personal Info-->
        <div class="masonry-item col-md-12" style="position: absolute; left: 0%; top: 1032px;">
                        <div class="bd bgc-white layer w-95 p-10" style="margin-left:10px;">
                        </div>
                        <div class="bgc-light-blue-300 c-white p-20">
                            <div class="peers ai-c jc-sb gap-40">
                                <div class="peer peer-greed"><h5>Upload Resume</h5></div>
                            </div>
                        </div>
                        <div class="bd bgc-white" style="margin-left:10px;">
                            <div style="padding:40px;margin:40px;">
                                <form action="#" method="post" enctype="multipart/form-data" style="margin-left:200px">
                                    {% csrf_token %} {{form}}
                                    <input type="submit" value="Upload" class="btn cur-p btn-outline-primary" />
                                </form>
                                <br>
                                <h1>Upload History</h1>
                                <br>
                                 <table class="table">
                                    <tbody>
                                        {% for item in resumes %}
                                            <tr>
                                                <td>
                                                    {{forloop.counter}}.<a href="{{ item.resume_do.url }}">{{ item.resume_do.name }}</a>
                                                    ({{item.upload_date}})
                                                </td>
                                                <td>
                                                    <form action="{% url 'cv_delete' %}" method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="docfile" value="{{ item.pk }}" />
                                                        <input type="submit" value="Delete" class="btn cur-p btn-outline-danger pull-right" style="margin-right:50px"/>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    <tbody>
                                </table>
                                <a class="btn cur-p btn-danger"href="/delete-all-cv">Delete All</a>
                            </div>
                        </div>
                    </div>
    <!-- End of Personal Info-->


{% endblock %}